.sidebar {
    width: 400px;
    height: 600px;
    margin-top: 10px;
}
body {
    
    background-size: cover;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 500px;
    margin-left: 400px;
    padding: 40px;
    background-color: rgb(221, 202, 178);
    margin-top: 40px;
    
}
#name {
    justify-content: flex-end;
    padding-right: 60px;
}